/*-------  共通CSS  --------*/
body {
  width: 960px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 14px;
  color: #bbb;
  background-color: white;
  border: solid;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 840px;
  padding: 0 5px;
  margin-right: auto;
  margin-left: auto;
}


/*-------  header  --------*/

header {
  height: 50px;
  width: 960px;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(6,25,25,0.9);
  line-height: 45px;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  z-index: 10;
}

.header-title {
  float: left;
  padding-left: 10px;
}

.header-logo {
  font-family: 'Lato', helvetica, arial, sans-serif;
  color: #aaa;
  font-size: 22px;
  cursor: pointer;
}

/*-------  flash  --------*/

.alert {
    width: 760px;
    margin: 50px auto 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    line-height: 30px;
    border-radius: 10px / 10px;
    z-index: 1;
    &:before {
        display: inline-block;
        font-family: "Font Awesome 5 Free";
        font-display: swap;
        font-size: 18px;
        font-weight: 900;
        height: 18px;
        margin-right: 5px;
        text-align: center;
        vertical-align: top;
        width: 22px;
    }

    @mixin alert-version($mainColor, $thinColor, $icon) {
        background: $thinColor;
        color: $mainColor;
        &:before {
            content: $icon;
        }

    }
    &.notice { @include alert-version(#757575, #F5F5F5, "\f05a"); }
    &.warning { @include alert-version(#F49A26, #FFF4C1, "\f071"); }
    &.error { @include alert-version(#FF4C10, #FCE8E6, "\f06a"); }
    &.success { @include alert-version(#00A69F, #DDF2F2, "\f06a"); }
}

/*-------  footer  --------*/
footer {
  clear:both;
  width: 960px;
  height: 200px;
  display: inline-block;
  background-color: rgba(6,25,25,1);
}

/*-------  入力フォーム  --------*/
.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 10px auto;
}
.cp_iptxt input[type=text] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=text]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=text] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt input[type=text]:focus + i {
	color: #da3c41;
}

.cp_iptxt input[type=password] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	margin: 8px 0;
	padding: 0.3em;
	transition: 0.3s;
	border: 1px solid #1b2538;
	border-radius: 4px;
	outline: none;
}
.cp_iptxt input[type=password]:focus {
	border-color: #da3c41;
}
.cp_iptxt input[type=password] {
	padding-left: 40px;
}
.cp_iptxt i {
	position: absolute;
	top: 8px;
	left: 0;
	padding: 9px 8px;
	transition: 0.3s;
	color: #aaaaaa;
}
.cp_iptxt input[type=password]:focus + i {
	color: #da3c41;
}

/*-------  ボタン  --------*/

.cp_button {
	display: inline-block;
	width: 160px;
	padding: 1em;
	line-height: 1.4;
	cursor: pointer;
	user-select: none;
	transition: background-color 0.2s, color 0.2s, width 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), border-radius 0.2s;
	color: #7e57c2;
	border: 1px solid #7e57c2;
	border-radius: 0.2em;
	background: transparent;
}
.cp_button:hover {
	width: 180px;
	color: #ffffff;
	border-radius: 0.5em;
	border: 1px solid #7e57c2;
	background-color: #7e57c2;
}
.cp_button:active {
	border-color: #5e35b1;
	background-color: #5e35b1;
}
.cp_button:focus {
	color: #7e57c2;
	border: 1px solid #7e57c2;
}
.cp_button:focus:hover {
	color: #ffffff;
}
