// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.mypage-logo {
  margin-top:50px;
  width: 960px;
}

.mypage-container {
  width: 960px;
}

/*--------タブ--------*/
.tab-wrapper {
  clear:both;
}

.tab_item {
  display: none;
}

.is-active-item {
  display: block;
}

.tab_link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.tab_btn {
  font-size: 24px;
  padding: 5px;
  margin: 0 5px 0 0;
  border-bottom: solid 1px #3c6b93;
  display: inline-block;
  background-color: #3c6b93;
  opacity: 0.5;
  border-radius: 5px 5px 0 0;
}

.is-active-btn {
  opacity: 1;
  border-bottom: solid 1px #3c6b93;
  color: #00BFFF;
}

.tab_item {
  width: 950px;
  height: 700px;
  padding:30px 5px;
  color: #00BFFF;
  background-color: #3c6b93;
}

/*--------タスク--------*/

.task-wrapper {
  display: inline-block;
  float: left;
  width: 240px;
  padding-left: 10px;

  table {
    width: 230px;
    border-collapse:separate;
    border-spacing: 0;

    th:first-child{
      border-radius: 5px 0 0 0;
      width:200px;
    }

    th:last-child{
      border-radius: 0 5px 0 0;
      border-right: 1px solid #3c6690;
    }

    th{
      text-align: center;
      color:white;
      background: linear-gradient(#829ebc,#225588);
      border-left: 1px solid #3c6690;
      border-top: 1px solid #3c6690;
      border-bottom: 1px solid #3c6690;
      box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
      padding: 10px 0;
    }

    td{
      text-align: center;
      background-color: white;
      border-left: 1px solid #a8b7c5;
      border-bottom: 1px solid #a8b7c5;
      border-top:none;
      box-shadow: 0px -3px 5px 1px #eee inset;
      width: 25%;
      padding: 10px 0;

      &:first-child {
        width: 170px;

        &:hover {
          background-color: #93c2ff;
          box-shadow: 0px -3px 5px 1px #7aafef inset;
        }
      }

      &:last-child{
        border-right: 1px solid #a8b7c5;
      }
    }

    tr:last-child td:first-child {
      border-radius: 0 0 0 5px;
    }

    tr:last-child td:last-child {
      border-radius: 0 0 5px 0;
    }
  }
}

/*--------カレンダー--------*/
.calendar-wrapper {
  display: inline-block;
  background-color: white;
  width: 680px;
  height: 540px;
  margin-left: 10px;

  .calendar {
    width: 600px;
    margin: 0 auto;
  }
}

.fc-sun {
    color: red;
    background-color: #fff0f0;
}

.fc-sat {
    color: blue;
    background-color: #f0f0ff;
}
